
target/*
.idea/*

*.iml
*.class
*.jar

/target/

.classpath
.project
.settings/

flatpak/*
!flatpak/org.tauon_ssh.App.desktop
!flatpak/org.tauon_ssh.App.png
!flatpak/org.tauon_ssh.App.yml
!flatpak/tauon

muon-app/target/*
muon-jediterm/target/*

/muon-app/target/
/muon-jediterm/target/

muon-app/target/maven-archiver/pom.properties

*.snap
